<!DOCTYPE html>
<html lang="es">
<th:template th:fragment="list">
    <script type="application/javascript">
        let listComponent = Vue.defineComponent({
            template: '#list-template',
            data() {
                return {
                    restaurants: [],
                    terminoBusqueda: '',
                    rating: 0,
                    orden: 'aleatorio',
                    animations: AOSAnimations,
                    loading: true
                }
            },
            created() {
                AOS.init();

                if (this.$route.query?.term)
                    this.terminoBusqueda = this.$route.query.term;

                this.buscar();
            },
            computed: {
                restaurantsByRating() {
                    return {
                        '0': this.countRestaurantsByRating(this.restaurants, 0, 1),
                        '1': this.countRestaurantsByRating(this.restaurants, 1, 2),
                        '2': this.countRestaurantsByRating(this.restaurants, 2, 3),
                        '3': this.countRestaurantsByRating(this.restaurants, 3, 4),
                        '4': this.countRestaurantsByRating(this.restaurants, 4, 5),
                        '5': this.countRestaurantsByRating(this.restaurants, 5, 6)
                    }
                }
            },
            watch: {
                orden() {
                    this.buscar();
                },
                rating() {
                    this.buscar();
                }
            },
            methods: {
                buscar() {
                    this.loading = true;

                    setTimeout(() => {
                        axios.post('/restaurantes', {
                            termino: this.terminoBusqueda,
                            puntuacion: this.rating
                        })
                        .then((response) => {
                            this.restaurants = this.shortRestaurants(response.data);
                            this.loading = false;
                        })
                        .catch((error) => {
                            console.error("Se produjo un error al buscar los restaurantes: ", error);
                            NotificationService.showWarningToast();
                            this.loading = false;
                        });
                    }, 200);
                },
                shortRestaurants(restaurants) {
                    switch (this.orden) {
                        case 'aleatorio':
                            return this.ordenAleatorio(restaurants);
                        case 'puntuacion':
                            return restaurants.sort((a, b) =>  a.rating > b.rating ? -1 : a.rating === b.rating ? 0 : 1);
                        default:
                            return restaurants;
                    }
                },
                ordenAleatorio(restaurantes) {
                    let currentIndex = restaurantes.length;

                    while (currentIndex != 0) {
                        let randomIndex = Math.floor(Math.random() * currentIndex);
                        currentIndex--;

                        [restaurantes[currentIndex], restaurantes[randomIndex]] = [
                            restaurantes[randomIndex], restaurantes[currentIndex]];
                    }

                    return restaurantes;
                },
                countRestaurantsByRating(restaurants, min, max) {
                    return restaurants.filter((r) => r.rating >= min && r.rating < max).length;
                }
            }
        });
    </script>

    <script type="text/x-template" id="list-template">
        <section class="page-container">
            <div class="row">
                <!-- Menú de filtros -->
                <div class="col-lg-3">
                    <!-- Nombre -->
                    <div class="collapse card d-lg-block mb-3">
                        <div class="accordion" >
                            <div class="accordion-item">
                                <h6 class="accordion-header px-4 py-3 bg-light text-dark" :class="{ 'disabled': loading }">Nombre</h6>
                                <div class="accordion-collapse collapse show">
                                    <div class="accordion-body input-group-wrapper">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="Nombre" v-model="terminoBusqueda" :class="{ 'disabled': loading }">
                                            <button class="btn btn-outline-primary" @click="buscar" :class="{ 'disabled': loading }">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Puntuación -->
                    <div class="collapse card d-lg-block mb-3">
                        <div class="accordion">
                            <div class="accordion-item">
                                <h6 class="accordion-header px-4 py-3 bg-light text-dark" :class="{ 'disabled': loading }">Puntuación</h6>
                                <div class="card-wrapper border rounded-3 fill-radios h-100 checkbox-checked">
                                    <div class="form-check radio radio-warning">
                                        <input class="form-check-input" id="rating-0" type="radio" name="rating" value="rating" @click="rating = 0" :disabled="loading" checked="">
                                        <label class="form-check-label ps-2" for="rating-0">0 / 5</label>
                                        <span class="badge badge-danger float-end" :class="{ 'disabled': loading }">{{ restaurantsByRating['0'] }}</span>
                                    </div>
                                    <div class="form-check radio radio-warning">
                                        <input class="form-check-input" id="rating-1" type="radio" name="rating" value="rating" @click="rating = 1" :disabled="loading">
                                        <label class="form-check-label ps-2" for="rating-1">1 / 5</label>
                                        <span class="badge badge-danger float-end" :class="{ 'disabled': loading }">{{ restaurantsByRating['1'] }}</span>
                                    </div>
                                    <div class="form-check radio radio-warning">
                                        <input class="form-check-input" id="rating-2" type="radio" name="rating" value="rating" @click="rating = 2" :disabled="loading">
                                        <label class="form-check-label ps-2" for="rating-2">2 / 5</label>
                                        <span class="badge badge-danger float-end" :class="{ 'disabled': loading }">{{ restaurantsByRating['2'] }}</span>
                                    </div>
                                    <div class="form-check radio radio-warning">
                                        <input class="form-check-input" id="rating-3" type="radio" name="rating" value="rating" @click="rating = 3" :disabled="loading">
                                        <label class="form-check-label ps-2" for="rating-3">3 / 5</label>
                                        <span class="badge badge-danger float-end" :class="{ 'disabled': loading }">{{ restaurantsByRating['3'] }}</span>
                                    </div>
                                    <div class="form-check radio radio-warning">
                                        <input class="form-check-input" id="rating-4" type="radio" name="rating" value="rating" @click="rating = 4" :disabled="loading">
                                        <label class="form-check-label ps-2" for="rating-4">4 / 5</label>
                                        <span class="badge badge-danger float-end" :class="{ 'disabled': loading }">{{ restaurantsByRating['4'] }}</span>
                                    </div>
                                    <div class="form-check radio radio-warning">
                                        <input class="form-check-input" id="rating-5" type="radio" name="rating" value="rating" @click="rating = 5" :disabled="loading">
                                        <label class="form-check-label ps-2" for="rating-5">5 / 5</label>
                                        <span class="badge badge-danger float-end" :class="{ 'disabled': loading }">{{ restaurantsByRating['5'] }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Aviso de carga -->
                <div v-if="loading" class="col-lg-9">
                    <div class="d-flex justify-content-center">
                        <div class="app-loader"></div>
                    </div>
                </div>

                <!-- Listado de restaurantes -->
                <div v-else class="col-lg-9">
                    <!-- Nº de resultados y ordenación -->
                    <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
                        <strong class="d-block py-2">{{ restaurants.length }} Resultados</strong>
                        <div class="ms-auto">
                            <select class="form-select d-inline-block w-auto border pt-1" v-model="orden">
                                <option value="aleatorio" selected>Aleatorio</option>
                                <option value="puntuacion">Puntuación</option>
                            </select>
                        </div>
                    </header>

                    <!-- Restaurantes -->
                    <div class="row gallery grid my-gallery mb-4" id="aniimated-thumbnials">
                        <figure v-for="restaurant in restaurants" :key="restaurant.name" class="grid-item col-sm-4" :data-aos="animations[Math.floor(Math.random() * animations.length)]">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" :src="'/images/restaurant/' + restaurant.images.main + '.jpg'" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">{{ restaurant.name }}</h5>
                                    <div class="rating pb-2">
                                        <i v-if="restaurant.rating === 0.5" class="fa fa-star-half"></i>
                                        <i v-if="restaurant.rating >= 1" class="fa fa-star"></i>
                                        <i v-if="restaurant.rating === 1.5" class="fa fa-star-half"></i>
                                        <i v-if="restaurant.rating >= 2" class="fa fa-star"></i>
                                        <i v-if="restaurant.rating === 2.5" class="fa fa-star-half"></i>
                                        <i v-if="restaurant.rating >= 3" class="fa fa-star"></i>
                                        <i v-if="restaurant.rating === 3.5" class="fa fa-star-half"></i>
                                        <i v-if="restaurant.rating >= 4" class="fa fa-star"></i>
                                        <i v-if="restaurant.rating === 4.5" class="fa fa-star-half"></i>
                                        <i v-if="restaurant.rating >= 5" class="fa fa-star"></i>
                                        <small class="ms-2 text-secondary">{{ restaurant.comments.length }} reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">{{ restaurant.description }}</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="$router.push({ path: '/restaurante/' + restaurant.name })" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div> <!-- Restaurantes -->
                </div>
            </div>
        </section>
    </script>
</th:template>
</html>