# Archivos generados por IntelliJ IDEA
/target/
/build/
*.iml
*.class
*.log
/out/
/.idea/
/project/.idea/
/workspace.xml

# Archivos generados por Gradle
/gradle/build/
/gradle/wrapper/
/gradle/tmp/
*.gradle.kts
*.gradle
/build/reports/

# Archivos de configuración local
.gitignore
local.properties
env.properties

# Archivos de caché
/project/.gradle/
/project/build/output/classes/debug/
/project/build/output/test/classes/debug/
/project/build/output/reports/

# Archivos de logs de Intellij IDEA
~/.idea/inspectionCache/
~/.idea/workspace.xml

# Archivos de logs de Gradle
~/.gradle/caches/
~/.gradle/warmer/

# Archivos de logs de Windows
*.log
*.tmp