/*///////// Estilos globales /////////*/
body {
    background-color: #F7F8F9 !important;
}
h6 a {
    font-size: 1em;
}
.w-100 {
    width: 100%;
}
.underline {
    text-decoration: underline;
}
.cursor-pointer {
    cursor: pointer;
}

/*///////// Home /////////*/
.home-sections .home,
.home-sections .features,
.home-sections .frameworks {
    padding-bottom: 4rem;
}
.home {
    background-image: url(/images/home/bg.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 3rem 0 4rem 0;
}
.home .home-content .card {
    background: rgba(255, 255, 255, 0.4);
}
.home .home-content input.form-control {
    background: rgba(255, 255, 255, 0);
}

/*///////// Puntuaciones /////////*/
.rating .fa-star,
.rating .fa-star-half {
    color: #ffa800;
}
.rating.input-group-text .fa-star:not(.selected) {
    color: #d2d2d2;
}

/*///////// Spinner de carga /////////*/
.app-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    height: 6em;
    margin: 0 1.875em;
    animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
    border-width: .3em;
    border-style: solid;
    border-radius: 100%;
    border-color: #7066e0 rgba(0, 0, 0, 0) #7066e0 rgba(0, 0, 0, 0);
}

/*///////// Tabs /////////*/
.nav-tabs .nav-item {
    cursor: pointer;
}

/*///////// Datepicker /////////*/
.datepicker-form label {
    line-height: 20px;
}


