<!DOCTYPE html>
<html lang="es">
<th:template th:fragment="app-footer">
    <script type="application/javascript">
        let appFooterComponent = Vue.defineComponent({
            template: '#app-footer-template',
            data() {
                return {
                    hide: false,
                    hiddenPaths: [
                        "/login",
                        "/registro"
                    ]
                }
            },
            created() {
                this.$router.afterEach((to, from) => {
                    this.hide = this.hiddenPaths.includes(to.path);
                })
            }
        });
    </script>

    <script type="text/x-template" id="app-footer-template">
        <footer class="footer" :class="{ 'd-none': hide }">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 footer-copyright text-center">
                        <p class="mb-0">Copyright 2024 © UOC (Universitat Oberta de Catalunya)</p>
                    </div>
                </div>
            </div>
        </footer>
    </script>
</th:template>
</html>