<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Metadatos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Aplicación de reserva de mesas">
    <meta name="author" content="Álvaro Ortiz (UOC)">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <title>Tu mesa</title>

    <!-- Fuente -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/cuba/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/cuba/vendors/icofont.css">
    <link rel="stylesheet" type="text/css" href="/css/cuba/vendors/themify.css">
    <link rel="stylesheet" type="text/css" href="/css/cuba/vendors/flag-icon.css">
    <link rel="stylesheet" type="text/css" href="/css/cuba/vendors/feather-icon.css">
    <link rel="stylesheet" type="text/css" href="/css/cuba/vendors/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/cuba/style.css">
    <link rel="stylesheet" type="text/css" href="/css/cuba/color-1.css" id="color" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/cuba/responsive.css">

    <!-- JS -->
    <script src="/js/plugins/axios.js"></script>
    <script src="/js/plugins/vue.js"></script>
    <script src="/js/plugins/vue-router.js"></script>
    <script type="text/javascript" th:inline="javascript">
        let appPath = /*[[@{/}]]*/'/';
    </script>

    <!-- Componentes Vue.js -->
    <th:block th:include="webapp/views/shared/app-header::app-header"></th:block>
    <th:block th:include="webapp/views/shared/app-breadcrumb::app-breadcrumb"></th:block>
    <th:block th:include="webapp/views/shared/app-footer::app-footer"></th:block>
    <th:block th:include="webapp/views/auth/login::login"></th:block>
    <th:block th:include="webapp/views/auth/signup::signup"></th:block>
    <th:block th:include="webapp/views/auth/user-profile::user-profile"></th:block>
    <th:block th:include="webapp/views/auth/admin-profile::admin-profile"></th:block>
    <th:block th:include="webapp/views/restaurant/home::home"></th:block>
    <th:block th:include="webapp/views/restaurant/list::list"></th:block>
    <th:block th:include="webapp/views/restaurant/detail::detail"></th:block>
    <th:block th:include="webapp/views/restaurant/reservation::reservation"></th:block>
    <script src="/js/app.js"></script>
</head>
<body>
    <div id="app" class="page-wrapper compact-wrapper">
        <!-- Cabecera -->
        <app-header></app-header>

        <div class="page-body-wrapper">
            <div class="page-body">
                <!-- Camino de migas -->
                <app-breadcrumb></app-breadcrumb>

                <!-- Contenido de la página -->
                <div class="container-fluid">
                    <div class="row widget-grid">
                        <!-- Página actual -->
                        <router-view></router-view>
                    </div>
                </div>
            </div>

            <!-- Pie de página -->
            <app-footer></app-footer>
        </div>
    </div>
</body>
</html>