<!DOCTYPE html>
<html lang="es">
<th:template th:fragment="detail">
    <script type="application/javascript">
        let detailComponent = Vue.defineComponent({
            template: '#detail-template',
            data() {
                return {
                    restaurant: {},
                    tabs: {
                        desc: true,
                        fotos: false,
                        reserva: false,
                    },
                    nuevoComentario: {
                        contenido: '',
                        hoverRating: 0,
                        selectedRating: 0,
                    },
                    nuevaReserva: undefined,
                    loading: true
                }
            },
            created() {
                if (this.$route.params?.name)
                    this.restaurant = this.cargarRestaurante(this.$route.params.name);
                else
                    NotificationService.showWarningToast();
            },
            computed: {
                reservas() {
                    if (!this.$root.user || !this.restaurant.reservations)
                        return [];

                    return this.restaurant.reservations
                        .filter((r) => r.user === this.$root.user);
                }
            },
            methods: {
                cargarRestaurante(nombre) {
                    this.loading = true;

                    setTimeout(() => {
                        axios.post('/restaurantes/restaurante', {
                            nombre: nombre
                        })
                        .then((response) => {
                            this.restaurant = response.data;
                            this.initCarousel();
                            this.initDatepicker(response.data);
                            this.loading = false;
                        })
                        .catch((error) => {
                            console.error("Se produjo un error al cargar el restaurante: ", error);
                            NotificationService.showWarningToast();
                            this.loading = false;
                        });
                    }, 200);
                },
                enviarComentario() {
                    if (document.getElementById("form-comentario").reportValidity()) {
                        NotificationService.showLoading("Enviando comentario");

                        setTimeout(() => {
                            axios.post('/restaurantes/nuevo-comentario', {
                                restaurante: this.restaurant.name,
                                usuario: this.$root.user,
                                comentario: this.nuevoComentario.contenido,
                                puntuacion: this.nuevoComentario.selectedRating
                            })
                            .then((response) => {
                                NotificationService.hideLoading();
                                this.restaurant = response.data;
                                NotificationService.showSuccessToast("Reseña creada correctamente");
                            })
                            .catch((error) => {
                                console.error("Se produjo un error al crear la reseña: ", error);
                                NotificationService.hideLoading();
                                NotificationService.showWarningToast();
                            });
                        }, 500);
                    }
                },
                crearReserva() {
                    if (document.getElementById("form-reserva").reportValidity()) {
                        NotificationService.showLoading("Solicitando reserva");

                        setTimeout(() => {
                            axios.post('/restaurantes/nueva-reserva', {
                                restaurante: this.restaurant.name,
                                usuario: this.$root.user,
                                fecha: this.nuevaReserva
                            })
                            .then((response) => {
                                NotificationService.hideLoading();
                                this.restaurant = response.data;
                                this.initDatepicker(response.data);
                                NotificationService.showSuccessToast("Reserva creada correctamente");
                            })
                            .catch((error) => {
                                console.error("Se produjo un error al crear la reserva: ", error);
                                NotificationService.hideLoading();
                                NotificationService.showWarningToast();
                            });
                        }, 500);
                    }
                },
                eliminarReserva(date) {
                    NotificationService.showLoading("Eliminando reserva");

                    setTimeout(() => {
                        axios.post('/restaurantes/eliminar-reserva', {
                            restaurante: this.restaurant.name,
                            usuario: this.$root.user,
                            fecha: date
                        })
                        .then((response) => {
                            NotificationService.hideLoading();
                            this.restaurant = response.data;
                            this.initDatepicker(response.data);
                            NotificationService.showSuccessToast("Reserva eliminada correctamente");
                        })
                        .catch((error) => {
                            console.error("Se produjo un error al eliminar la reserva: ", error);
                            NotificationService.hideLoading();
                            NotificationService.showWarningToast();
                        });
                    }, 500);
                },
                initCarousel() {
                    setTimeout(() => {
                        var owl = $("#owl-carousel");
                        owl.owlCarousel({
                            items: 5,
                            loop: true,
                            margin: 10,
                            autoplay: true,
                            autoplayTimeout: 1000,
                            autoplayHoverPause: true,
                            nav: false,
                            responsive: {
                                320: {
                                    items: 1,
                                    mergeFit: true,
                                },
                                768: {
                                    items: 2,
                                    mergeFit: true,
                                },
                                992: {
                                    items: 3,
                                    mergeFit: true,
                                },
                            }
                        });

                        $(".play").on("click", function () {
                            owl.trigger("play.owl.autoplay", [1000]);
                        });

                        $(".stop").on("click", function () {
                            owl.trigger("stop.owl.autoplay");
                        });
                    }, 500);
                },
                initDatepicker(restaurant) {
                    setTimeout(() => {
                        flatpickr("#reserva-time-picker", {
                            enableTime: true,
                            minTime: "09:00",
                            maxTime: "22:00",
                            disable: restaurant?.reservations?.map(reservation => this.$root.$filters.timestampToDate(reservation.date))
                        });
                    }, 500);
                }
            }
        });
    </script>

    <script type="text/x-template" id="detail-template">
        <section class="page-container">
            <div class="row" v-if="loading">
                <!-- Aviso de carga -->
                <div class="col-xs-12">
                    <div class="d-flex justify-content-center">
                        <div class="app-loader"></div>
                    </div>
                </div>
            </div>

            <!-- Detalle del restaurante -->
            <div v-else class="user-profile social-app-profile">
                <!-- Cabecera -->
                <div class="row">
                    <div class="col-sm-12 box-col-12">
                        <div class="card hovercard text-center">
                            <div class="cardheader" :style="'background: url(/images/restaurant/' + restaurant.images.main + '.jpg); background-size: cover; background-position: 10%;'"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Información -->
                    <div class="col-md-7 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <h5>{{ restaurant.name }}</h5>

                                <!-- Pestañas -->
                                <ul class="nav nav-tabs border-tab mt-3" id="bottom-tab" role="tablist">
                                    <!-- Descripción -->
                                    <li class="nav-item pt-2" @click="tabs.fotos = false; tabs.desc = true; tabs.reserva = false;">
                                        <a class="nav-link nav-border txt-primary tab-primary" role="tab" :class="{ 'active': tabs.desc }">
                                            <i class="fa fa-info-circle"> </i>Descripción
                                        </a>
                                    </li>
                                    <!-- Fotos -->
                                    <li class="nav-item pt-2" @click="tabs.fotos = true; tabs.desc = false; tabs.reserva = false;">
                                        <a class="nav-link nav-border txt-primary tab-primary" role="tab" :class="{ 'active': tabs.fotos }">
                                            <i class="fa fa-image"> </i>Fotos
                                        </a>
                                    </li>
                                    <!-- Reserva -->
                                    <li class="nav-item pt-2" @click="tabs.fotos = false; tabs.desc = false; tabs.reserva = true;">
                                        <a class="nav-link nav-border txt-primary tab-primary" role="tab" :class="{ 'active': tabs.reserva }">
                                            <i class="fa fa-calendar-o"></i>Reserva
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <!-- Descripción -->
                                    <div class="tab-pane fade" role="tabpanel" :class="{ 'show active': tabs.desc }">
                                        <div class="d-flex align-items-center mt-4 mb-4">
                                            <!-- Dirección -->
                                            <a :href="'https://www.google.com/maps/search/?api=1&query=' + restaurant.address.replaceAll(' ', '+')" target="_blank" class="flex-shrink-0">
                                                <div class="d-flex align-items-center map-link">
                                                    <div class="flex-shrink-0">
                                                        <img class="img-30 img-fluid m-r-10" src="/images/restaurant/google-maps.png" alt="maps">
                                                    </div>
                                                    <div class="flex-shrink-0 mt-1">
                                                        <p class="text-dark underline pe-2">{{ restaurant.address }}</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- Puntuación -->
                                            <div class="flex-grow-1 text-end">
                                                <h5 class="d-inline">{{ restaurant.rating }}</h5> <span>/ 5</span>
                                            </div>
                                        </div>

                                        <p>{{ restaurant.description }}</p>
                                    </div>
                                    <!-- Fotos -->
                                    <div class="tab-pane fade" role="tabpanel" :class="{ 'show active': tabs.fotos }">
                                        <div class="owl-carousel owl-theme" id="owl-carousel">
                                            <div v-for="photo in restaurant.images.photos" :key="photo" class="item">
                                                <img :src="'/images/restaurant/' + photo + '.jpg'" alt="restaurant-photo">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Reserva -->
                                    <div class="tab-pane fade" role="tabpanel" :class="{ 'show active': tabs.reserva }">
                                        <!-- Gestión de reservas -->
                                        <div v-if="$root.user">
                                            <!-- Nueva reserva -->
                                            <h6 class="mb-3">Solicitar una nueva reserva</h6>
                                            <div class="row datepicker-form">
                                                <label class="col-xxl-3 box-col-12 text-start mb-0">Seleccione la fecha y hora de su reserva</label>
                                                <div class="col-xxl-9 box-col-12">
                                                    <form id="form-reserva" class="form-wizard" action="#">
                                                        <div class="input-group">
                                                            <input class="form-control" id="reserva-time-picker" type="time" required="required" v-model="nuevaReserva">
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="text-end pt-3">
                                                    <button class="btn btn-primary" :class="{ 'disabled': !nuevaReserva }" :disabled="!nuevaReserva" @click.prevent="crearReserva">Enviar</button>
                                                </div>
                                            </div>

                                            <!-- Lista de reservas -->
                                            <h6 class="mb-3">Sus reservas</h6>
                                            <p v-if="reservas.length === 0">No posee ninguna reserva activa en este restaurante.</p>
                                            <div v-else v-for="(reserva, index) in reservas" :key="reserva.date" class="input-group" :class="{ 'mb-3': index !== (reservas.length - 1) }">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar ps-4 pe-4"></i>
                                                </div>
                                                <input class="form-control disabled" type="text" disabled="disabled" :value="$filters.timestampToDateTime(reserva.date)">
                                                <button class="btn btn-danger" type="button" @click.prevent="eliminarReserva($filters.timestampToDateTime(reserva.date))">
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- Aviso de login para gestionar las reservas -->
                                        <div v-else class="row">
                                            <div class="col-xs-12 text-center">
                                                <p>Inicie sesión para gestionar sus reservas</p>
                                                <a class="btn btn-primary" @click.prevent="$router.push({ path: '/login' })">
                                                    <i class="fa fa-sign-in me-2"></i>
                                                    <span>Iniciar sesión</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Reseñas -->
                    <div class="col-md-5 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-4">Reseñas</h4>

                                <!-- Reseñas -->
                                <div v-for="(comment, index) in restaurant.comments" :key="comment.date">
                                    <div class="d-flex align-items-center mb-3">
                                        <!-- Avatar -->
                                        <div class="flex-shrink-0">
                                            <img class="img-50 img-fluid m-r-20 rounded-circle" src="/images/user/user.png" alt="User">
                                        </div>
                                        <!-- Nombre del usuario y fecha de la reseña -->
                                        <div class="flex-shrink-0">
                                            <p class="mb-0"><strong>{{ comment.user }}</strong></p>
                                            <small class="text-secondary">{{ $filters.timestampToDateStr(comment.date) }}</small>
                                        </div>
                                        <!-- Puntuación -->
                                        <div class="flex-grow-1 text-end">
                                            <h5 class="d-inline">{{ comment.rating }}</h5> <span>/ 5</span>
                                        </div>
                                    </div>

                                    <p>{{ comment.content }}</p>

                                    <hr v-if="index !== (restaurant.comments.length - 1)" />
                                </div>
                            </div>
                            <div class="card-footer">
                                <!-- Nueva reseña -->
                                <form v-if="$root.user" id="form-comentario" class="form-wizard" action="#">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="Introduzca una reseña..." required="required" v-model="nuevoComentario.contenido">
                                        <div class="rating input-group-text">
                                            <i class="fa fa-star" :class="{ 'selected': nuevoComentario.selectedRating >= 1 || nuevoComentario.hoverRating >= 1 }"
                                               @click="nuevoComentario.selectedRating = 1" @mouseover="nuevoComentario.hoverRating = 1" @mouseleave="nuevoComentario.hoverRating = 0"></i>
                                            <i class="fa fa-star" :class="{ 'selected': nuevoComentario.selectedRating >= 2 || nuevoComentario.hoverRating >= 2 }"
                                               @click="nuevoComentario.selectedRating = 2" @mouseover="nuevoComentario.hoverRating = 2" @mouseleave="nuevoComentario.hoverRating = 0"></i>
                                            <i class="fa fa-star" :class="{ 'selected': nuevoComentario.selectedRating >= 3 || nuevoComentario.hoverRating >= 3 }"
                                               @click="nuevoComentario.selectedRating = 3" @mouseover="nuevoComentario.hoverRating = 3" @mouseleave="nuevoComentario.hoverRating = 0"></i>
                                            <i class="fa fa-star" :class="{ 'selected': nuevoComentario.selectedRating >= 4 || nuevoComentario.hoverRating >= 4 }"
                                               @click="nuevoComentario.selectedRating = 4" @mouseover="nuevoComentario.hoverRating = 4" @mouseleave="nuevoComentario.hoverRating = 0"></i>
                                            <i class="fa fa-star" :class="{ 'selected': nuevoComentario.selectedRating >= 5 || nuevoComentario.hoverRating >= 5 }"
                                               @click="nuevoComentario.selectedRating = 5" @mouseover="nuevoComentario.hoverRating = 5" @mouseleave="nuevoComentario.hoverRating = 0"></i>
                                        </div>
                                    </div>

                                    <div class="text-end pt-3">
                                        <button class="btn btn-primary" @click.prevent="enviarComentario">Enviar</button>
                                    </div>
                                </form>

                                <!-- Aviso de login para publicar una reseña -->
                                <div v-else class="text-center">
                                    <p>Inicie sesión para publicar una reseña</p>
                                    <a class="btn btn-primary" @click.prevent="$router.push({ path: '/login' })">
                                        <i class="fa fa-sign-in me-2"></i>
                                        <span>Iniciar sesión</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </script>
</th:template>
</html>