<!DOCTYPE html>
<html lang="es">
<th:template th:fragment="home">
    <script type="application/javascript">
        let homeComponent = Vue.defineComponent({
            template: '#home-template',
            data() {
                return {
                    goSignup() {
                        this.$router.push({ path: 'registro' });
                    }
                }
            }
        });
    </script>

    <script type="text/x-template" id="home-template">
        <h1>Soy el home</h1>
        <button @click="goSignup()">Ir</button>
    </script>
</th:template>
</html>