<!DOCTYPE html>
<html lang="es">
<th:template th:fragment="home">
    <script type="application/javascript">
        let homeComponent = Vue.defineComponent({
            template: '#home-template',
            data() {
                return {
                }
            },
            methods: {
                goLogin() {
                    this.$router.push({ path: 'login' });
                }
            }
        });
    </script>

    <script type="text/x-template" id="home-template">
        <h1>Soy el home</h1>
        <button @click="goLogin()">Ir al login</button>
    </script>
</th:template>
</html>