<!DOCTYPE html>
<html lang="es">
<th:template th:fragment="list">
    <script type="application/javascript">
        let listComponent = Vue.defineComponent({
            template: '#list-template',
            created() {
                AOS.init();
            }
        });
    </script>

    <script type="text/x-template" id="list-template">
        <section class="page-container">
            <div class="row">
                <!-- Menú de filtros -->
                <div class="col-lg-3">
                    <!-- Nombre -->
                    <div class="collapse card d-lg-block mb-3">
                        <div class="accordion" >
                            <div class="accordion-item">
                                <h6 class="accordion-header px-4 py-3 bg-light text-dark">Nombre</h6>
                                <div class="accordion-collapse collapse show">
                                    <div class="accordion-body input-group-wrapper">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="Nombre">
                                            <button class="btn btn-outline-primary" id="button-addon2" type="button">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Categorías -->
                    <div class="collapse card d-lg-block mb-3">
                        <div class="accordion">
                            <div class="accordion-item">
                                <h6 class="accordion-header px-4 py-3 bg-light text-dark">Categorías</h6>
                                <div class="accordion-collapse collapse show">
                                    <div class="accordion-body checkbox-checked">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="categoria-1" checked />
                                            <label class="form-check-label" for="categoria-1">Categoría 1</label>
                                            <span class="badge badge-danger float-end">120</span>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="categoria-2" checked />
                                            <label class="form-check-label" for="categoria-2">Categoría 2</label>
                                            <span class="badge badge-danger float-end">15</span>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="categoria-3" checked />
                                            <label class="form-check-label" for="categoria-3">Categoría 3</label>
                                            <span class="badge badge-danger float-end">35</span>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="categoria-4" checked />
                                            <label class="form-check-label" for="categoria-4">Categoría 4</label>
                                            <span class="badge badge-danger float-end">89</span>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="categoria-5" />
                                            <label class="form-check-label" for="categoria-5">Categoría 5</label>
                                            <span class="badge badge-danger float-end">30</span>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="categoria-6" />
                                            <label class="form-check-label mb-0" for="categoria-6">Categoría 6</label>
                                            <span class="badge badge-danger float-end">30</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Listado de restaurantes -->
                <div class="col-lg-9">
                    <!-- Nº de resultados y ordenación -->
                    <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
                        <strong class="d-block py-2">32 Resultados</strong>
                        <div class="ms-auto">
                            <select class="form-select d-inline-block w-auto border pt-1">
                                <option value="puntuacion">Puntuación</option>
                                <option value="aleatorio">Aleatorio</option>
                            </select>
                        </div>
                    </header>

                    <!-- Restaurantes -->
                    <div class="row gallery grid my-gallery mb-4" id="aniimated-thumbnials">
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="grid-item col-sm-4" data-aos="fade-down">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <img class="card-img-top p-0" src="https://media.admagazine.com/photos/6413c50c0181e6a3029f340c/16:9/w_2560%2Cc_limit/FIID_21_12_22_SALAZAR_6253.jpg" />
                                <div class="card-body d-flex flex-column pt-3 pb-4">
                                    <h5 class="card-title">La Vaca Argentina</h5>
                                    <div class="rating pb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <small class="ms-2 text-secondary">159 reseñas</small>
                                    </div>
                                    <p class="card-text mb-2 pb-1">Restaurante de carne, Barbacoa, Argentina</p>
                                    <div class="card-footer pt-3 px-0 pb-0 w-100 text-center">
                                        <a @click.prevent="" class="btn btn-primary shadow-0 mt-1 me-1">Ver detalle</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div> <!-- Restaurantes -->

                    <!-- <div class="row gallery grid my-gallery mb-4" id="aniimated-thumbnials">
                        <figure class="grid-item col-sm-3" data-aos="fade-down">
                            <img class="img-thumbnail" src="/images/masonry/1.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="zoom-out-down">
                            <img class="img-thumbnail" src="/images/masonry/2.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-down">
                            <img class="img-thumbnail" src="/images/masonry/3.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="fade-up">
                            <img class="img-thumbnail" src="/images/masonry/4.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-down">
                            <img class="img-thumbnail" src="/images/masonry/5.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="fade-up">
                            <img class="img-thumbnail" src="/images/masonry/6.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-down">
                            <img class="img-thumbnail" src="/images/masonry/7.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="fade-up">
                            <img class="img-thumbnail" src="/images/masonry/8.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-down">
                            <img class="img-thumbnail" src="/images/masonry/9.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="fade-up">
                            <img class="img-thumbnail" src="/images/masonry/10.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-down">
                            <img class="img-thumbnail" src="/images/masonry/11.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="fade-up">
                            <img class="img-thumbnail" src="/images/masonry/12.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-down">
                            <img class="img-thumbnail" src="/images/masonry/14.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-left">
                            <img class="img-thumbnail" src="/images/masonry/15.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-down">
                            <img class="img-thumbnail" src="/images/masonry/13.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="zoom-out">
                            <img class="img-thumbnail" src="/images/masonry/4.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-right">
                            <img class="img-thumbnail" src="/images/masonry/5.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="zoom-out">
                            <img class="img-thumbnail" src="/images/masonry/6.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="zoom-out-up">
                            <img class="img-thumbnail" src="/images/masonry/7.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="zoom-out-down">
                            <img class="img-thumbnail" src="/images/masonry/8.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-down">
                            <img class="img-thumbnail" src="/images/masonry/9.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="slide-up">
                            <img class="img-thumbnail" src="/images/masonry/10.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-down">
                            <img class="img-thumbnail" src="/images/masonry/9.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="fade-up">
                            <img class="img-thumbnail" src="/images/masonry/10.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-down">
                            <img class="img-thumbnail" src="/images/masonry/11.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="fade-up">
                            <img class="img-thumbnail" src="/images/masonry/12.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-down">
                            <img class="img-thumbnail" src="/images/masonry/14.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-left">
                            <img class="img-thumbnail" src="/images/masonry/15.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-down">
                            <img class="img-thumbnail" src="/images/masonry/13.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="zoom-out">
                            <img class="img-thumbnail" src="/images/masonry/4.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="flip-right">
                            <img class="img-thumbnail" src="/images/masonry/5.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="zoom-out">
                            <img class="img-thumbnail" src="/images/masonry/6.jpg" alt="Image description">
                        </figure>
                        <figure class="grid-item col-sm-3" data-aos="zoom-out-up">
                            <img class="img-thumbnail" src="/images/masonry/7.jpg" alt="Image description">
                        </figure>
                    </div>-->
                </div>
            </div>
        </section>
    </script>
</th:template>
</html>